
.wave-divider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  line-height: 0;
  margin-top: -1px; 
}
.wave-divider-svg {
  display: block;
  width: 100%;
  height: 100%;
}
